<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modificar un pedido:</title>
</head>
<body>
	
		<div>
		 <form th:action="@{/pedidos/{id}(id=${pedido.idPed})}" th:object="${pedido}" method="POST">
		 	
		  <label>Id del usuario:</label>
		 <input type="text" th:field="*{idUser}">
		 <br>
		 
		   <label>importe total:</label>
		 <input type="text" th:field="*{total}">
		 <br>
	
	  <label>fecha</label>
		 <input type="text" th:field="*{fechaped}">
		 <br>
	
	
		 <button class="btn btn-sucess">guardar</button>
		 </form>
		 
			<a th:href="@{/pedidos}">
			<button>Volver a pedidos</button>
			</a>
		</div>
</body>
</html>