<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Productos</title>
</head>
<body>
	
		<div>
			<fieldset>
				<legend>Productos</legend>
					
						<table>
						<th>ID</th>
						<th>Nombre del producto</th>
						<th>Descripción</th>
						<th>Etiquetas</th>
						<th>Precio</th>
						<th>Stock</th>
						<th>Tipo de producto</th>
						<th>Material</th>
						<th>Fabricante</th>
						<th>Mecanismo</th>
						
						
						<tr th:each="producto : ${productos}">
						<td th:text="${producto.id}"></td>
						<td th:text="${producto.nombre}"></td>
						<td th:text="${producto.descripcion}"></td>
						<td th:text="${producto.etiquetas}"></td>
						<td th:text="${producto.precio}"></td>
						<td th:text="${producto.stock}"></td>
						<td th:text="${producto.tipoProd}"></td>
						<td th:text="${producto.material}"></td>
						<td th:text="${producto.fabricante}"></td>
						<td th:text="${producto.mecanismo}"></td>
						
						<!-- BOTONES EDITAR Y ELIMINAR POR CADA USER -->
						<td>
							<a th:href="@{/productos/modificar/{id}(id=${producto.id})}" class="btn btn-info">
							<button>Editar producto:</button>
							</a>
						</td>
						
						<td>
							<a th:href="@{/productos/eliminar/{id}(id=${producto.id})}" class="btn btn-info">
							<button>Eliminar producto:</button>
							</a>
						</td>
						</tr>
						</table>
			</fieldset>
		</div>
		<br>
		
		
		<!-- BOTONES DE ALTA Y REDIRECCIÓN -->
						
		<a th:href="@{/productos/alta}">
		<button>Crea un producto:</button>
		</a>
			
		<a th:href="@{/}">
		<button>volver al inicio:</button>
		</a>
</body>
</html>