<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AIRSOFT SPAIN</title>
</head>
	
	<div class="cabeza">
	<header class="MainTitle">Airsoft Spain</header>
	
	<a th:href="@{/usuarios/alta}">
		<button>Crea un usuario:</button>
		</a>
		
	<a th:href="@{/usuarios}">
		<button>ver los usuarios</button>
		</a>
	<a th:href="@{/productos}">
		<button>ver los productos</button>
		</a>
		
	<button></button>
	<button></button>
	<button></button>
	</div>
<body>

</body>
</html>