<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crear un rol</title>
</head>
<body>
	
		<div>
		 <form th:action="@{/roles}" th:object="${rol}" method="POST">
		 
		  <label>Nombre:</label>
		 <input type="text" th:field="*{nombre}">
		 <br>
		 
		  <label>Descripcion:</label>
		 <input type="text" th:field="*{descripcion}">
		 <br>
		 
		 <button class="btn btn-sucess">guardar</button>
		 </form>
		 
			
		</div>
</body>
</html>