<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modificar un rol:</title>
</head>
<body>
	
		<div>
		 <form th:action="@{/roles/{id}(id=${rol.id})}" th:object="${rol}" method="POST">
		 	
		  <label>Nombre:</label>
		 <input type="text" th:field="*{nombre}">
		 <br>
		 
		  <label>Descripcion:</label>
		 <input type="text" th:field="*{descripcion}">
		 <br>
		 
		 <button class="btn btn-sucess">guardar</button>
		 </form>
		 
			<a th:href="@{/roles}">
			<button>Volver a roles</button>
			</a>
		</div>
</body>
</html>