<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crear un user</title>
</head>
<body>
	
		<div>
		 <form th:action="@{/usuarios}" th:object="${usuario}" method="POST">
		 
		 <label>DNI:</label>
		 <input type="text" th:field="*{dni}">
		 <br>
		 
		  <label>Nombre:</label>
		 <input type="text" th:field="*{nombre}">
		 <br>
		 
		  <label>Apellidos:</label>
		 <input type="text" th:field="*{apellidos}">
		 <br>
		 
		  <label>Código postal:</label>
		 <input type="number" th:field="*{CPostal}">
		 <br>
		 
		  <label>Dirección:</label>
		 <input type="text" th:field="*{direccion}">
		 <br>
		 
		  <label>idRol</label>
		 <input type="number" th:field="*{idRol}">
		 <br>
		 
		  <label>email:</label>
		 <input type="text" th:field="*{email}">
		 <br>
		 
		  <label>tlf:</label>
		 <input type="number" th:field="*{telefono}">
		 <br>
		 
		  <label>pwrd:</label>
		 <input type="text" th:field="*{contraseña}">
		 <br>
		 <button class="btn btn-sucess">guardar</button>
		 </form>
		 
			
		</div>
</body>
</html>